@import url(http://fonts.googleapis.com/css?family=Inika:400,700);
@font-face { font-family: 'zocial'; src: url("../fonts/zocial-regular-webfont.eot"); }
@font-face { font-family: 'zocial'; src: url("../fonts/zocial-regular-webfont.ttf") format("truetype"), url("../fonts/zocial-regular-webfont.svg#zocialregular") format("svg"); font-weight: normal; font-style: normal; }
/* Work better for evenly distribued columns. */
/* line 5, src/columns.scss */
.columns { background-repeat: no-repeat; }
/* line 6, src/columns.scss */
.columns.topBorder { border-top: 1px solid #424242; }
/* line 7, src/columns.scss */
.columns.bottomBorder { border-bottom: 1px solid #424242; }
/* line 8, src/columns.scss */
.columns.leftBorder { border-left: 1px solid #424242; }
/* line 9, src/columns.scss */
.columns.rightBorder { border-right: 1px solid #424242; }
/* line 10, src/columns.scss */
.columns.sliceWithMargin, .columns.introduction, ul.columns, hr.columns { margin: 30px 0; }
/* line 11, src/columns.scss */
.columns.extended { margin-left: -30px; margin-right: -30px; padding-left: 30px; padding-right: 30px; }

/* line 15, src/columns.scss */
.column { display: inline-block; vertical-align: top; background-repeat: no-repeat; }
/* line 17, src/columns.scss */
.column > .columnContent { padding-left: 0; padding-right: 0; background-repeat: no-repeat; }
/* line 18, src/columns.scss */
.column:first-child > .columnContent { padding-left: 0 !important; }
/* line 19, src/columns.scss */
.column:last-child > .columnContent { padding-right: 0 !important; }
/* line 21, src/columns.scss */
.column > :first-child { margin-top: 0; }
/* line 22, src/columns.scss */
.column > :last-child { margin-bottom: 0; }
/* line 24, src/columns.scss */
.separationBorder > .column + .column > .columnContent { border-left: 1px solid #424242; }
/* line 26, src/columns.scss */
.column.columnWithPadding > .columnContent { padding-left: 15px; padding-right: 15px; }
/* line 28, src/columns.scss */
.column.columnWithPadding > :first-child { margin-top: inherit; }
/* line 29, src/columns.scss */
.column.columnWithPadding > :last-child { margin-bottom: inherit; }
/* line 31, src/columns.scss */
.separationBorder > .column.columnWithPadding > .columnContent { padding-left: 30px; padding-right: 30px; }

/* line 33, src/columns.scss */
.column-90 { width: 90%; }

/* line 34, src/columns.scss */
.column-80 { width: 80%; }

/* line 35, src/columns.scss */
.column-75 { width: 75%; }

/* line 36, src/columns.scss */
.column-70 { width: 70%; }

/* line 37, src/columns.scss */
.column-66 { width: 66.66666666666667%; }

/* line 38, src/columns.scss */
.column-60 { width: 60%; }

/* line 39, src/columns.scss */
.column-50 { width: 50%; }

/* line 40, src/columns.scss */
.column-40 { width: 40%; }

/* line 41, src/columns.scss */
.column-33 { width: 33.333333333333336%; }

/* line 42, src/columns.scss */
.column-30 { width: 30%; }

/* line 43, src/columns.scss */
.column-25 { width: 25%; }

/* line 44, src/columns.scss */
.column-20 { width: 20%; }

/* line 45, src/columns.scss */
.column-10 { width: 10%; }

/* line 6, src/layout.scss */
html { font-size: 62.5%; line-height: 1.3em; }

/* line 7, src/layout.scss */
body { margin: 0; padding: 0; font-family: "Inika", serif; font-size: 1em; color: #202020; font-weight: 300; }

/* line 10, src/layout.scss */
button, a { text-decoration: none; color: #5b9ec9; }
/* line 12, src/layout.scss */
button img, a img { border: 0; }
/* line 13, src/layout.scss */
button:hover, a:hover { text-decoration: underline; }

/* line 17, src/layout.scss */
button { display: inline; margin: 0; border: none; padding: 0; cursor: pointer; background-color: transparent; outline: none; }

/* line 21, src/layout.scss */
.sliceWithMargin, .introduction, ul, hr { margin: 30px 0; }

/* line 23, src/layout.scss */
h1, .h1-like { margin: 25px 0; }

/* line 24, src/layout.scss */
h2, .h2-like { margin: 25px 0; }

/* line 25, src/layout.scss */
h3, .h3-like { margin: 25px 0; }

/* line 26, src/layout.scss */
h4, .h4-like { margin: 20px 0; }

/* line 27, src/layout.scss */
h5, .h5-like { margin: 20px 0; }

/* line 29, src/layout.scss */
p, p.bodytext, h6, .h6-like, .h6-like { margin: 15px 0; }

/* line 30, src/layout.scss */
td p, td p.bodytext { margin: 0; }

/* line 32, src/layout.scss */
ul li { margin: 5px 0; }

/* line 36, src/layout.scss */
p, li, td, th, textarea, caption, pre, blockquote, label, input, select, textarea { font-size: 1.4em; line-height: 1.7em; }

/* line 37, src/layout.scss */
li li, li p, td p, th p, li h1, li .h1-like, li .h1-like, li h2, li .h2-like, li .h2-like, li h3, li .h3-like, li .h3-like, li h4, li .h4-like, li .h4-like, li h5, li .h5-like, li .h5-like, li h6, li .h6-like, li .h6-like, button { font-size: 100%; }

/* line 38, src/layout.scss */
input, select, textarea { font-family: "Inika", serif; }

/* line 39, src/layout.scss */
h1, .h1-like, .h1-like, h2, .h2-like, .h2-like, h3, .h3-like, .h3-like, h4, .h4-like, .h4-like, h5, .h5-like, .h5-like { line-height: 1em; }

/* line 40, src/layout.scss */
h1, .h1-like, .h1-like { font-size: 3.5em; }

/* line 41, src/layout.scss */
h2, .h2-like, .h2-like, .important { font-size: 2.4em; }

/* line 42, src/layout.scss */
h3, .h3-like, .h3-like { font-size: 1.9em; }

/* line 43, src/layout.scss */
h4, .h4-like, .h4-like, .introduction { font-size: 1.7em; }

/* line 44, src/layout.scss */
h5, .h5-like, .h5-like { font-size: 1.6em; }

/* line 45, src/layout.scss */
h6, .h6-like, .h6-like { font-size: 1.4em; }

/* line 55, src/layout.scss */
hr { border: none; height: 1px; background-color: #dedede; }

/* line 56, src/layout.scss */
hr.clear { clear: both; height: 0px; }

/* line 59, src/layout.scss */
body { color: #424242; }

/* line 61, src/layout.scss */
.align-left { text-align: left; }

/* line 62, src/layout.scss */
.align-center { text-align: center; }

/* line 63, src/layout.scss */
.align-right { text-align: right; }

/* line 64, src/layout.scss */
.align-justify { text-align: justify; }

/* line 67, src/layout.scss */
.clear { clear: both; }

/* line 2, src/modules.scss */
body { background: url(../img/background_page.gif); }

/* line 5, src/modules.scss */
.page { margin: auto; padding: 0 30px; width: 720px; padding: 0 120px; }
@media screen and (min-width: 0px) { /* line 5, src/modules.scss */
  .page { width: 720px; max-width: 100%; } }
@media screen and (max-width: 780px) { /* line 5, src/modules.scss */
  .page { width: auto; margin-left: 30px; margin-right: 30px; } }

/* line 7, src/modules.scss */
.tag-bons-plans a { color: #a3959c; }

/* line 8, src/modules.scss */
.tag-films a { color: #5b9ec9; }

/* line 9, src/modules.scss */
.tag-lectures a { color: #62618d; }

/* line 10, src/modules.scss */
.tag-pro a { color: #de5d5a; }

/* line 11, src/modules.scss */
.tag-restos a { color: #ed8837; }

/* line 12, src/modules.scss */
.tag-spectacles a { color: #a833c1; }

/* line 15, src/modules.scss */
.nav { display: block; margin: 0; padding: 0; }
/* line 13, src/mixins.scss */
.nav li { display: inline-block; margin: 5px; padding: 0; }
/* line 16, src/mixins.scss */
.nav li:hover .second { display: block; }
/* line 19, src/mixins.scss */
.nav .second { position: absolute; display: none; }

/* line 18, src/modules.scss */
.mainNav { margin: 0; padding: 0; text-align: center; }
/* line 20, src/modules.scss */
.mainNav li { display: inline; }
/* line 21, src/modules.scss */
.mainNav a { display: inline-block; font-size: 1.15em; font-weight: bold; text-transform: uppercase; text-decoration: none; }

/* line 30, src/modules.scss */
#progress { position: fixed; top: -18px; left: 0; right: 0; -webkit-transition: 300ms top linear; transition: 300ms top linear; -webkit-transition-delay: 2000ms; transition-delay: 2000ms; }
/* line 31, src/modules.scss */
#progress.active { top: 0; -webkit-transition-delay: 0; transition-delay: 0; }
/* line 33, src/modules.scss */
#progress p { position: absolute; top: 3px; left: 10px; margin: 0; z-index: 20; font-size: 1.2em; line-height: 1; font-weight: 700; color: #FFFFFF; }

/* line 36, src/modules.scss */
#progressBar { height: 22px !important; z-index: 10 !important; background: #e2e0e1; background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2UyZTBlMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2UxZTFlMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkOGQ4ZDgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e2e0e1), color-stop(50%, #e1e1e1), color-stop(100%, #d8d8d8)); background: -webkit-linear-gradient(top, #e2e0e1 0%, #e1e1e1 50%, #d8d8d8 100%); background: linear-gradient(to bottom, #e2e0e1 0%, #e1e1e1 50%, #d8d8d8 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e0e1', endColorstr='#d8d8d8',GradientType=0 ); }
/* line 46, src/modules.scss */
#progressBar > div { background: #a7c73e; background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2E3YzczZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2E2YzgzZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM5ZmJkM2IiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a7c73e), color-stop(50%, #a6c83e), color-stop(100%, #9fbd3b)); background: -webkit-linear-gradient(top, #a7c73e 0%, #a6c83e 50%, #9fbd3b 100%); background: linear-gradient(to bottom, #a7c73e 0%, #a6c83e 50%, #9fbd3b 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7c73e', endColorstr='#9fbd3b',GradientType=0 ); }

/* line 58, src/modules.scss */
.asideBar { position: fixed; top: 121px; right: 0; }
/* line 59, src/modules.scss */
.asideBar > ul, .asideBar > ul > li { display: inline; margin: 0; padding: 0; }
/* line 60, src/modules.scss */
.asideBar > ul > li { position: relative; font-size: 2em; line-height: 2em; }
/* line 61, src/modules.scss */
.asideBar > ul > li:hover .item { opacity: .9; }
/* line 63, src/modules.scss */
.asideBar .tableOfContents:hover .item, .asideBar .tagsCloud:hover .item { opacity: .9; border-color: rgba(66, 66, 66, 0.9); }
/* line 65, src/modules.scss */
.asideBar .item { position: relative; display: block; width: 50px; height: 50px; border-left: 1px solid #FFFFFF; z-index: 10; -webkit-transition: 500ms opacity linear; transition: 500ms opacity linear; text-align: center; }
/* line 68, src/modules.scss */
.asideBar .panel { position: absolute; top: -50px; right: -500px; padding: 20px; min-width: 300px; max-width: 350px; background-color: #424242; opacity: .98; z-index: 9; -webkit-transition: 500ms right ease; transition: 500ms right ease; color: #FFFFFF; }
/* line 71, src/modules.scss */
.asideBar .panel .header { margin: 0; padding: 0 0 10px; border-bottom: 1px solid #888888; font-size: .9em; line-height: 1.2em; font-weight: 700; }
/* line 73, src/modules.scss */
.asideBar .panel ul { margin: 10px 0 0; padding: 0; }
/* line 74, src/modules.scss */
.asideBar .panel li { margin: 5px 0; padding: 0; }
/* line 75, src/modules.scss */
.asideBar .panel li { display: block; white-space: nowrap; font-size: .8em; }
/* line 77, src/modules.scss */
.asideBar .panel a { color: #FFFFFF; text-decoration: none; }
/* line 78, src/modules.scss */
.asideBar .panel a:hover { text-decoration: underline; }
/* line 79, src/modules.scss */
.asideBar .panel .lvl-2 { padding-left: 10px; }
/* line 80, src/modules.scss */
.asideBar .panel .lvl-3 { padding-left: 20px; }
/* line 81, src/modules.scss */
.asideBar .panel .lvl-4 { padding-left: 30px; }
/* line 82, src/modules.scss */
.asideBar .panel .lvl-5 { padding-left: 40px; }
/* line 83, src/modules.scss */
.asideBar .panel .lvl-6 { padding-left: 50px; }
/* line 85, src/modules.scss */
.asideBar > ul > li:hover .panel { right: 0px; }
/* line 88, src/modules.scss */
.asideBar .tagsCloud .panel .list { font-size: 0.7em; }
/* line 89, src/modules.scss */
.asideBar .tagsCloud .panel .weight-light { font-weight: 300; }
/* line 90, src/modules.scss */
.asideBar .tagsCloud .panel .weight-regular { font-size: 1.1em; font-weight: 400; }
/* line 91, src/modules.scss */
.asideBar .tagsCloud .panel .weight-medium { font-size: 1.2em; font-weight: 500; }
/* line 92, src/modules.scss */
.asideBar .tagsCloud .panel .weight-bold { font-size: 1.25em; font-weight: 700; }

@media screen and (max-width: 960px) { /* line 5, src/mediaqueries.scss */
  .page { padding: 0; width: 85%; }
  /* line 6, src/mediaqueries.scss */
  .column { display: block; width: auto !important; margin: 0 !important; }
  /* line 7, src/mediaqueries.scss */
  img { max-width: 100%; height: auto; }
  /* line 8, src/mediaqueries.scss */
  .post-template .post p img { margin-left: 0; margin-right: 0; padding-left: 0; padding-right: 0; max-width: 100%; height: auto; } }
