// # modules: the site elements
body { background: url(../img/background_page.gif); }

// Use class `page` to set the max-width of the website
.page { @include page; padding: 0 120px; }

.tag-bons-plans a { color: $brown; }
.tag-films a { color: $blue; }
.tag-lectures a { color: $marine; }
.tag-pro a { color: $red; }
.tag-restos a { color: $orange; }
.tag-spectacles a { color: $purple; }

// ## progress
.progress { position: fixed; top: 0; left: 0; right: 0; height: 8px; background: $cream; z-index: 3; transition: 300ms top linear;
  .tag-bons-plans & { background-color: $brown; }
  .tag-films & { background-color: $blue; }
  .tag-lectures & { background-color: $marine; }
  .tag-pro & { background-color: $red; }
  .tag-restos & { background-color: $orange; }
  .tag-spectacles & { background-color: $purple; }

  #progressBar div {
    background: -moz-linear-gradient(top,  rgba(0,0,0,0.3) 0%, rgba(255,255,255,0) 100%) !important; /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.3)), color-stop(100%,rgba(255,255,255,0))) !important; /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0.3) 0%,rgba(255,255,255,0) 100%) !important; /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,0,0,0.3) 0%,rgba(255,255,255,0) 100%) !important; /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,0,0,0.3) 0%,rgba(255,255,255,0) 100%) !important; /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,0,0,0.3) 0%,rgba(255,255,255,0) 100%) !important; /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ffffff', endColorstr='#00ffffff',GradientType=0 ) !important; /* IE6-9 */

  }
}

// ## Navigation
.nav { @include nav; }


// ### mainNav
.header { background: url(../img/background_page.gif); z-index: 2; }
.mainNav { margin: 8px 0 0; padding: 0 0 6px; background: url(../img/hr_sousMenu.gif) 50% 97% no-repeat;
  text-align: center;
  .logo { height: auto; transition: width 200ms linear, height 200ms linear; }
  li { @include inline-block; margin: 0; padding: 20px 15px; list-style-type: none; vertical-align: top; transition: padding 200ms linear, font-size 200ms linear;
    font-size: 1.8em;

    &:first-child { padding: 3px 15px !important; }
    &.tag-bons-plans a:hover { color: $brown; }
    &.tag-films a:hover { color: $blue; }
    &.tag-lectures a:hover { color: $marine; }
    &.tag-pro a:hover { color: $red; }
    &.tag-restos a:hover { color: $orange; }
    &.tag-spectacles a:hover { color: $purple; }
    body.tag-bons-plans &.tag-bons-plans { background: $brown url(../img/activ_shadow.png) 0 100% repeat-x;
      a { color: $white; }}
    body.tag-films &.tag-films { background: $blue url(../img/activ_shadow.png) 0 100% repeat-x;
      a { color: $white; }}
    body.tag-lectures &.tag-lectures { background: $marine url(../img/activ_shadow.png) 0 100% repeat-x;
      a { color: $white; }}
    body.tag-pro &.tag-pro { background: $red url(../img/activ_shadow.png) 0 100% repeat-x;
      a { color: $white; }}
    body.tag-restos &.tag-restos { background: $orange url(../img/activ_shadow.png) 0 100% repeat-x;
      a { color: $white; }}
    body.tag-spectacles &.tag-spectacles { background: $purple url(../img/activ_shadow.png) 0 100% repeat-x;
      a { color: $white; }}
  }


  h1 { display: inline; margin: 0; padding: 0; }
  a { font-size: 1.15em; font-weight: bold; color: $grey; text-transform: uppercase; text-decoration: none; }
}
.fixedNav .header { position: fixed; top: 0; left: 0; right: 0;
  .mainNav { background-repeat: repeat-x; }
  li { padding: 9px 14px; font-size: 1.4em; }
  .logo { height: 30px; }
}

// ## MainContent
.fixedNav main.content { margin-top: 122px; }
.post { margin: 40px auto; padding: 40px 50px; width: $sliceWidth; max-width: 100%; background: white; border-top: 2px dashed $grey3; border-bottom: 2px dashed $grey3;
  h2 { margin: 0;
    font-size: 3em; color: $black; text-transform: uppercase; }
  p, li, td, blockquote { text-align: justify; }
  .test4u { display: block;
    font-size: 0.65em; line-height: 1em;

    .tag-bons-plans & { color: $brown; }
    .tag-films & { color: $blue; }
    .tag-lectures & { color: $marine; }
    .tag-pro & { color: $red; }
    .tag-restos & { color: $orange; }
    .tag-spectacles & { color: $purple; }
  }
  .post-meta { margin: 0;
    font-size: 2.4em; line-height: 1em; font-weight: $bold; color: $cream;
    .author a { color: $cream; } }

  .post-content {
    img, iframe { margin: 20px -6.9444444%; width: 113.88889%; height: auto; }
    iframe { height: 460px;  }
    .gallery { margin: 40px -6.9444444%; text-align: center; }
    .gallery img { margin: 0; width: auto; }
    .gallery-item { @include inline-block; margin: -3px 0 0 -1px; width: 19.928%; height: 164px; background-repeat: no-repeat; background-position: 50% 50%; background-size: cover; opacity: .8; transition: opacity 300ms ease-in-out; border: 1px solid white; }
    .w-5 { width: 19.928%; height: 164px; }
    .w-4 { width: 24.92%; height: 206px; }
    .w-3 { width: 33.26%; height: 274px; }
    .gallery-item:hover { opacity: 1; }

    blockquote { margin: 20px 0; padding: 0 0 0 20px; border-left: 5px solid $grey3; }

    // ### code block
    pre { margin: 20px -6.9444444%; padding: 1em 6.9444444%; border-radius: 0; background-color: #272822; }
    pre > code { overflow: auto; max-height: 1000px; white-space: pre-wrap; }
  }

  a {
    .tag-bons-plans & { color: $brown; border-color: $brown; }
    .tag-films & { color: $blue; border-color: $blue; }
    .tag-lectures & { color: $marine; border-color: $marine; }
    .tag-pro & { color: $red; border-color: $red; }
    .tag-restos & { color: $orange; border-color: $orange; }
    .tag-spectacles & { color: $purple; border-color: $purple; }
  }
  .tags { font-size: 0.6em; }

  .caption { display: block; margin: -45px -6.9444444% 20px;
    text-align: center; }
  .caption-text { @include inline-block; padding: 2px 20px; background: rgba(0,0,0,.8); @include border-radius(5px); text-shadow: 0 1px 2px #222;
    color: $white; font-size: .8em; font-weight: $regular; white-space: nowrap; }


  .post-footer { margin: 0 -50px -50px; padding: 50px; background-color: $grey2; border-top: 2px dashed $white; border-bottom: 2px dashed $grey3;
    color: $white;
  }
}

// ## post-template
.post-template .post-content a { border-bottom-width: 1px; border-bottom-style: dashed;
  &:hover { text-decoration: none; border-bottom-width: 0; }}

// ## Tag
.home-template, .tag-template, .archive-template, .author-template {
  .post { padding: 20px 25px; }
  .cover { @include inline-block; margin-right: 25px; vertical-align: middle; }
  .post-content { @include inline-block; width: 505px; vertical-align: middle;
    p { margin: 5px 0;
      font-size: 1.6em; }
    .tags { font-size: .7em; }
    p:last-child { margin-bottom: 0; }
  }
}

.tag-head { margin: 40px auto; padding: 0 25px; width: $sliceWidth; max-width: 100%; background: white; border-top: 2px dashed $grey3; border-bottom: 2px dashed $grey3;
  text-align: center;
  h2 { margin: 15px 0; }}
.pagination { margin: 40px auto; padding: 15px 25px; width: $sliceWidth; max-width: 100%; background: white; border-top: 2px dashed $grey3; border-bottom: 2px dashed $grey3;
  font-size: 1.6em; text-align: center; }


// ## Aside
.asideBar { position: fixed; top: 121px; right: 0;
  > ul, > ul > li { display: inline; margin: 0; padding: 0; }
  > ul > li { position: relative; font-size: 2em; line-height: 2em; }
  > ul > li:hover .item { opacity: .9; }
  .tableOfContents, .tagsCloud {
    &:hover .item { opacity: .9; border-color: rgba($grey, .9); }
  }
  .item { position: relative; display: block; width: 50px; height: 50px; border-left: 1px solid $white; z-index: 10; transition: 500ms opacity linear;
    text-align: center; }

  .panel { position: absolute; top: -50px; right: -500px; padding: 20px; min-width: 300px; max-width: 350px; background-color: $grey; opacity: .98; z-index: 9; transition: 500ms right ease;
    color: $white;

    .header { margin: 0; padding: 0 0 10px; border-bottom: 1px solid $grey2;
      font-size: .9em; line-height: 1.2em; font-weight: $bold; }
    ul { margin: 10px 0 0; padding: 0; }
    li { margin: 5px 0; padding: 0; }
    li { display: block; white-space: nowrap;
      font-size: .8em; }
    a { color: $white; text-decoration: none; }
    a:hover { text-decoration: underline; }
    .lvl-2 { padding-left: 10px; }
    .lvl-3 { padding-left: 20px; }
    .lvl-4 { padding-left: 30px; }
    .lvl-5 { padding-left: 40px; }
    .lvl-6 { padding-left: 50px; }
  }
  > ul > li:hover .panel { right: 0px; }

  .tagsCloud .panel{
    .list { font-size: 0.7em; }
    .weight-light { font-weight: $light; }
    .weight-regular { font-size: 1.1em; font-weight: $regular; }
    .weight-medium { font-size: 1.2em; font-weight: $medium; }
    .weight-bold { font-size: 1.25em; font-weight: $bold; }
  }
}

// # fancybox
.fancybox-opened {
  .fancybox-title { margin-bottom: -13px; }
  .fancybox-title-float-wrap .child { @include border-radius(5px);
    font-weight: $regular; }
}
